
.contact {
    
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
    height: auto;
  }
  
  .contact h2 {
    margin-bottom: 1rem;
  }
  
  .contact p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .contact-methods {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }
  
  .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .contact-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
  }
  
  .contact-item a {
    color: #f9dc5c;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .contact-item a:hover {
    color: #ff4b2b;
  }
  
  @media (max-width: 768px) {
    .contact p {
      font-size: 1rem;
    }
  
    .contact-item img {
      width: 30px;
      height: 30px;
    }
  
    .contact-item a {
      font-size: 0.9rem;
    }
  }
  