.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  background: linear-gradient(180deg, #313336, #2b2d31);
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ffd666;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f9dc5c;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav a:hover {
  color: #f9dc5c;
}
